///////////////////
//Brands Section///
///////////////////
.brand-section{
    background-color:  #333645;
    color: white;
    
 }
 .brand__col a:not(.btn):hover{
    text-decoration: underline
}
 .brand-container{
     padding-top: 50px;
     padding-bottom: 50px;
     padding-left:15px;
     padding-right: 15px;
     margin-left: auto;
     margin-right: auto;
     display: flex;
     color: white;
     //width: 1170px;
 @include mq(x-small){
     //display: flex;
     //flex: auto;
     width: 100%;
     flex-direction: column;
 }
 @include mq(small-down){
     width: 750px;
     // display: flex;
     // flex: auto;
     width: 100%;
     flex-direction: column;
 }
 // @include mq(small-up){
 
 // }
 @include mq(medium-up){
     width: 970px;
     
     flex-direction: row;
 }
 @include mq(large){
     width: 1170px;
 }
     
 }
 .brand__row{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    @include mq(x-small){
        //display: flex;
        //flex: auto;
        width: 100%;
        flex-direction: column;
    }
    @include mq(small-down){
      //  width: 750px;
        // display: flex;
        // flex: auto;
       // width: 100%;
        flex-direction: column;
    }
 }
 .brand__col{

    color: inherit;
     padding-left: 15px;
     padding-right: 15px;
     display: flex;
     flex-direction: column;
     @include mq(medium-up){
         width: 50%;
     }
     
 }
 .brand__col h2{
    font-size: 2.25rem;
    font-weight: 600;
    color: white;
 }
 // .brand__col1{
 //     width: 50%;
 // }
 // .brand__col2{
 //     width: 50%;
 // }
 .brand__col1 p{
     font-weight: 600;
     font-size: 1rem;
     font-style: italic;
     margin: 0 0 10px;
     margin-bottom: 25px;
 }
 .brand__col2 p{
     font-weight: 600;
     font-size: 1.3rem;
     font-style: italic;
     margin: 0 0 10px;
     margin-bottom: 25px;
 }
 .brand__col2__stars{
    display: flex;
    flex-wrap: wrap;
 }
 .brand__col__buttons{
     display: flex;
     gap:10px;
    // flex-wrap: wrap;
     margin-top: auto;
     //margin-top: 25px;
     margin-bottom: 25px;
     flex-direction: column;
     //justify-items: start;
     @include mq(large){
         flex-direction: row;
         //flex-wrap: nowrap;
     }
 }
 .brand__col__buttons .btn{
     display: flex;
     align-items: center;
     
   //  flex-wrap: wrap;
     @include mq(medium-down){
         margin-right: auto;
     }
     
 
 }
 .brandbtn{
    // background-color:  #272936;
     @include standard-text-button(#272936,#121318);
     font-size: 20px;
     padding: 10px 30px;
     border-radius: 6px;
 }
 .googlebtn{
    
     @include standard-text-button(#4387f6,#166af4);
     font-size: 20px;
     padding: 10px 30px;
     border-radius: 6px;
     flex-wrap: nowrap;
     margin-top: 25px;
 }
 .trustbtn{
    
     @include standard-text-button(#00b67b,#009b69);
     font-size: 20px;
     padding: 10px 30px;
     border-radius: 6px;
     flex-wrap: nowrap;
     margin-top: 25px;
 }
 .brandbtn:hover{
background-color:#121318;
 }
 .brand-arrow{
     filter: invert(100%);
 }
 .icon-arrow::before{
     font-family: 'icomoon' !important;
     color: inherit;
     content: "\ea3c";
 
 }
 .icon-arrow{
 
 }
 .icon-star{
    margin-bottom: 25px;
 }
 .icon-star::before{
     font-family: 'icomoon' !important;
     color: orange;
     font-size: 3em;
     content: "\e9d9";
 }
 .client-quote-author span{
    color: #a3a8ac;
 }
 .client-quote-author a:hover{
    text-decoration: underline;
 }