// .nav .container>ul{
//     padding: 0;
//     margin: 0;
//     margin-block-start: 0;
//     margin-block-end: 0;
//     padding-inline-start: 0;
//     list-style: none;
//     display: flex;
//     flex-direction: row;
//     //height: 150px;
//     justify-content: center;
//     text-decoration: none;

//     height: 1%;
// }
.nav{
    display: none;
  background-color: #333645;
  //height: $nav-height;
  width:100%;
  margin-bottom: 0;
  padding: 0;
  line-height: 1;
  z-index: 5;//position: relative;
  @include reveal(block,medium-up);
//   margin-left: -10px;
//   margin-right: -10px;
}
.nav ul{
    padding: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    //height: 150px;
    justify-content: center;
    text-decoration: none;
    
   // height: 1%;
}
.nav-item{
 
    width:$nav-item-width;
    height: 100%;
    padding: 0;
    margin: 0;
    //margin-left: 20px;
    background-color: inherit;
    cursor: pointer;
    @include mq(medium-down){
        width:$nav-item-width-m;
    }
}
.nav-item::after{

}
.nav__item--icon{
    font-family: 'icomoon' !important;
    font-size: 1.35rem;
    //padding:20px 0 15px 0;
    padding-bottom: 10px;
}
.nav-item small{
    padding-bottom: 1px;
    font-size: .625rem;
}
.nav__item--icon-1::before{
    
    content: "\e957";
}
.nav__item--icon-2::before{

    content: "\e956";
}
.nav__item--icon-3::before{

    content: "\e900";
}
.nav__item--icon-4::before{

    content: "\e901";
}
.nav__item--icon-5::before{

    content: "\ea80";
}
.nav__item--icon-6::before{

    content: "\e906";
}
.nav__item--icon-7::before{

    content: "\e904";
}
.drop-icon{
    font-family: 'icomoon' !important;
    font-size: 2em;
    color: white;
}


.nav-item-content{
    display: flex;
    color:white;
    text-transform: uppercase;
    padding: 19px 0 18px;
    font-size: 1.125rem;
    text-decoration: none;
    line-height: 1;
    width:$nav-item-width ;
    //@include standard-text-button;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
}
.nav-item .nav-text{
   // margin-bottom: 20px;
}
.triangle-down{
   
    width: 0;
	height: 0;
	border-left: width-for-triangle($nav-item-width) solid transparent;
	border-right: width-for-triangle($nav-item-width) solid transparent;
	border-top: 50px solid;// #7489a3;
    z-index: 2;
    position: absolute;
    display:none;
    @include mq(medium-down){
        border-left: width-for-triangle($nav-item-width-m) solid transparent;
        border-right: width-for-triangle($nav-item-width-m) solid transparent;
    }
}
.triangle-down::after{
    width: 0;
	height: 0;
	border-left: width-for-triangle($nav-item-width) solid transparent;
	border-right: width-for-triangle($nav-item-width) solid transparent;
	border-top: 50px solid;// #7489a3;
    z-index: 2;
    position: absolute;
    display:none;
    @include mq(medium-down){
        border-left: width-for-triangle($nav-item-width-m) solid transparent;
        border-right: width-for-triangle($nav-item-width-m) solid transparent;
    }
}
.nav__item--dropdown{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    padding: 0 22px 40px 27px;
    //height: 500px;
    color:white;
    //background-color:#526781;
    margin-top: 0;
    display: none;
    z-index: 1;
    list-style: none;
    align-content: center;
   
    
}
// .nav__item--dropdown-1{

//     background-color:#526781;
// }
// .nav__item--dropdown-2{
//     background-color: blue;
// }
//@include dropdown-generic(2);
@for $i from 1 to 8{
    @include dropdown-generic($i);
}

.nav-item:hover  .triangle-down{
    display: block;
}
// .nav-item:hover .icon-apps{
//     filter: invert(100%);
// }
.header-inner,.nav{
   // margin-top: 6px;
    margin-bottom: 0;
    //padding: 0;
    border: 0;
   // overflow: hidden;
}

.nav__item--dropdown > ul{
   display: flex;
    margin: auto;
   flex-wrap: wrap;
   list-style: none;
   flex-direction: row;
   align-content: flex-start;
   justify-content: flex-start;
   align-items: center;
   //max-width: 70%;
gap: 50px 0px;
   margin-top: 50px;
  // margin-inline-start: 0;
   & > li:not(:first-child){
    width: 33%;
   // width: 100px;
   // margin-top: 20px;
   // margin-left: 50px;
   // height:10px;
    
   }

   @include mq(small){
    width: 970px;
   }
   @include mq(large){
    width: 1200px;
   }


}
.dropdown-item a{
    display: flex;
    align-items: center;
}
.link-text:hover{
    text-decoration: underline;
}
// .nav__item--dropdown > ul{
//     display:flex;
//     flex-wrap: wrap;
//     max-width: 20%;
//     flex-direction: row;
//     row-gap: 0;
//     align-content: flex-start;
    

// }

.link-text{
    @include standard-text-header(1.35rem);
    margin-left: 10px;
    //width: 33%;

}
.link-icon-container{
    // display: flex;
    // justify-content: left;
    // align-items: center;
   // filter: invert(100%);
}
//First item of the list takes up more space
.sub-menu-banner-title
{
    color:white;
    width:100%
    //display: list-item;
}