/////////////////
//Slick section//
/////////////////
.slick-container{
    width: 100%;
    background-image: url("../images/home-YLei.webp");
    background-size:contain;
    background-repeat: no-repeat;
    height: 680px;
    //right:0;
}
// .slick-container img{
//     max-width: 100%;
//     width: 100%;
// }
.slick-text{
    width: 50%;
}