
































//Layout constants
$nav-height: 100px;
$nav-item-width:150px;
$base__font-size : 16px;
$tab-grid-width: 60%;


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?xyvfzo');
    src:  url('../fonts/icomoon.eot?xyvfzo#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?xyvfzo') format('truetype'),
      url('../fonts/icomoon.woff?xyvfzo') format('woff'),
      url('../fonts/icomoon.svg?xyvfzo#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
//Font Stacks

$font-family-button-default : 'Poppins', 'sans-serif';
$button-text-default : 'Poppins', 'sans-serif';
//Color Constants

$marble-blue: #526781;
$mid-blue:#286ABD;
$clover-green:#25A25A;
$thunderbird:#BC2C28;
$dark-lavender:#79539A;
$rich-carmine:#DE093F;
$roof-terracotta:#A3331D;

$greyish-blue:#67809f;
$orangeish: #d64541;
//Colour Implementation
$support_button_color:#4183d7;
$search_button_color:invert( #999aa2);
$base-background: #fff;

$tab-icon-color-1: $greyish-blue;
$drop-down-colors:(
1 :$marble-blue,
2: $mid-blue,
3: $clover-green,
4: $thunderbird,
5:$dark-lavender,
6: $rich-carmine,
7: $roof-terracotta
);

// Breakpoints

$brkpoint-xsm    : 1px; $brkpoint-sm-up:768px;
$brkpoint-sm    : 769px; $brkpoint-md-up:992px;
$brkpoint-md    : 993px; $brkpoint-bg-up:1200px;
$brkpoint-lg    : 1201px;