*::before,*::after{
    box-sizing: border-box;
}
//Univeral styles
html{
    font-size: 16px;
}
body{
    background-color: #fff;
    @include standard-text-header(1rem);
    color: black;
    letter-spacing: 0.4px;
}
h1,.h1{
    @include standard-text-header(4.251rem);
    
}
h2,.h2{
    @include standard-text-header(2rem);
    //color:#333645;
}
h3,.h3{
    @include standard-text-header(1.5rem);
}
p,.p{
    @include standard-text-header(1rem);
    color: black;
    text-decoration: none;
    text-wrap: wrap;
    color: inherit;
}
a{
    text-decoration: none;
    color: inherit;
}
header{
   // display:;
}
.message{
    position: fixed;
    right: 1%;
    bottom: 3%;
    z-index: 3;
    //background: #000;
    border-style: none;
    //height: 30px;
    //width: 30px;
}
.message button{
    border-style: none;
    background-color: #333645;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.icon-message::before{
    font-family: 'icomoon' !important;
    color: white;
    font-size: 2em;
    content: '\e96b'
}
.manage-consent{
    position: fixed;
    left: 0;
    bottom:0;
    z-index: 3;
    border-style: none;
}
.manage-consent button{
    border-style: none;
    background-color: $greyish-blue;
    border-radius: 5px;
    color: white;

}
.reveal{
    display: block;
}
//Main styles

.arrow-link{
    //float: right;
    //display: inline;
    font-size:1.6em;
    //display: flex;
    text-decoration: none;
    color: black;
    &:hover{
        text-decoration: underline;
    }
}
.arrow-link-l{
    display: none;
    float: right;
   @include reveal(flex,small-up);
}
.arrow-link-s{
    display: none;
    justify-content: center;
   @include reveal(flex,x-small);
}
.btn{
    @include standard-text-button(1.125rem);

    display: inline-block;
   // padding: 15px 30px;
   padding: 5px 15px;
    border: 0px;

   text-decoration: none;

    border-radius : 3px;

    display: inline-block;
    background-color:  #999aa2;

    width: auto;
    height: 56px;
    box-sizing: border-box;
    min-height: 32px;

    &:hover  {
      
       opacity: .75;

    }


}
//Button without hover effect
.btn-n{
    @include standard-text-button(1.125rem);

    display: inline-block;
    display: flex;
    align-items: center;
    width: fit-content;
   // padding: 15px 30px;
   padding: 5px 15px;
    border: 0px;

   text-decoration: none;

    border-radius : 3px;

    //display: inline-block;
    background-color:  #999aa2;
    text-align: center;
    //width: auto;
    height: 56px;
    box-sizing: border-box;
    min-height: 32px;




}

.text-input{
    &:focus{
        border-color: #5bc0de;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(91,192, 222,.6);
    }
}

.nav{
    display: none;
  background-color: #333645;
  //height: $nav-height;
  width:100%;
  margin-bottom: 0;
  padding: 0;
  line-height: 1;
  @include reveal(block,large);
//   margin-left: -10px;
//   margin-right: -10px;
}
// .reveal-medium-block{
//     @include mq(medium){
//        @include reveal();
        
//     }
//     @include mq(large){
//         display: block;
       
//     }
// }
// .reveal-large-block{
//     @include mq(large){
//         display: block;
        
//     }
// }
// .reveal-medium-flex{
//     @include mq(medium){
//         display: inline;
        
//     }
//     @include mq(large){
//         display: inline;
       
//     }
// }
// .reveal-large-inline{
//     @include mq(large){
//         display: inline;
        
//     }
// }
// .icon-apps::before{
//     content: url(../images/laptop.svg);
   
// }
small{
    font-size: 0.625rem;
}
.container{
   // display: flex;
    justify-content: center;
    height: 100%;
    margin-left: auto;
margin-right: auto;
padding: 0 15px;

}









